<div id="login-head">
    <div id="login-head-text">
        <h1>Long time no see</h1>
    </div>
    <img src="img/back7.jpg" alt="">
</div>

<div id="login_form_con">
    <div id="side_img">
        <img src="img/login_image.jpg" alt="">
    </div>
    <div id="actu-form-con">
        <h2>Login</h2>
        <%if(messages.error){%>
            <span id="error_on_invalidinput"><%= messages.error%></span>
        <%}%>
        <form action="/login" id="actu-form" method="post">
            <div class="input-fields">
                 <label for="Username_email">Username</label>
                 <input name="username" type="email" id="input_email" placeholder="exa@gmail.com">
            </div>
            <div class="input-fields">
                 <label for="password">password</label>
                 <input name="passwd" type="password" id="passwd" placeholder="eg. xyz@food">
            </div>
            <button type="submit" id="sign_in_btn">Let me in</button>
            <div id="regi-link">
                <p>Don't have an account ? Why ? <a href="/register">Sign up</a></p>
            </div>
        </form>
    </div>
</div>