<div id="order-head">
    <div id="order-head-text">
        <h1>Hello Admin</h1>
    </div>
    <img src="/img/back7.jpg" alt="" />
</div>
<div id="orders-summary-con">
    <div id="orders-summary-head">
        <i class="ri-shopping-cart-2-line"></i>
        <h1>order summary</h1>
    </div>
        <table id="order-table">
            <thead>
                <tr>
                    <th class="order-table-headers">Orders</th>
                    <th class="order-table-headers">Customer</th>
                    <th class="order-table-headers">Address</th>
                    <th class="order-table-headers">Status</th>
                    <th class="order-table-headers">Amount</th>
                    <th class="order-table-headers">Placed At</th>
                </tr>
            </thead>
            <tbody id="order-table-body">
            </tbody>
        </table>
</div>